name: Label PRs
on:
  pull_request:

jobs:
  labeler:
    name: PR Labeler
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
        with:
          sync-labels: true
