name: Find Exercise Issue # Preparing to make your extension

on:
  workflow_call:
    inputs:
      issue-title-prefix:
        description: 'Prefix to search for in issue titles'
        required: false
        default: 'Exercise'
        type: string
    outputs:
      issue-url:
        description: "URL of the found issue"
        value: ${{ jobs.find_exercise.outputs.issue-url }}
      issue-number:
        description: "Number of the found issue"
        value: ${{ jobs.find_exercise.outputs.issue-number }}

permissions:
  issues: read

jobs:
  find_exercise:
    name: Find exercise by issue title
    runs-on: ubuntu-latest

    outputs:
      issue-url: ${{ steps.find-exercise-issue.outputs.ISSUE_URL }}
      issue-number: ${{ steps.find-exercise-issue.outputs.ISSUE_NUMBER }}

    steps:
      - id: find-exercise-issue
        uses: actions/github-script@v7
        env:
          ISSUE_TITLE_PREFIX: ${{ inputs.issue-title-prefix }}
        with:
          script: |
            const issues = await github.rest.issues.listForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open',
              per_page: 1
            });

            const issue = issues.data.find(issue => issue.title.includes(process.env.ISSUE_TITLE_PREFIX ));
            if (!issue) {
              throw new Error('No exercise issue found');
            }

            core.setOutput('ISSUE_URL', issue.html_url);
            core.setOutput('ISSUE_NUMBER', issue.number);
